

&fpga_axi {
	rau_glob_info: rau_glob_info@0x40000000 {
		compatible = "rau,global-info-1.0";
		reg = <0x40000000 0x10>;
	};

	//-------------- RTX carrier channel --------------------------
	////-------------- UL TX  (有限制)-------------------
	rtx_chn_axi_tx: RTX-channel-tx@0x40000840 {
		#clock-cells = <1>;
		compatible = "rau,rtx-carrier-channel-0.1";
		//reg = <0x40000840 0x800>;//总共
		reg = <0x40000840 0x40>,
		      <0x40000880 0x40>,
		      <0x400008C0 0x40>,
		      <0x40000900 0x40>,
		      <0x40000940 0x40>,
		      <0x40000980 0x40>,
		      <0x400009C0 0x40>,
		      <0x40000A00 0x40>,
		      <0x40000A40 0x40>,
		      <0x40000A80 0x40>,
		      <0x40000AC0 0x40>,
		      <0x40000B00 0x40>,
		      <0x40000B40 0x40>,
		      <0x40000B80 0x40>,
		      <0x40000BC0 0x40>,
		      <0x40000C00 0x40>,
		      <0x40000C40 0x40>,
		      <0x40000C80 0x40>,
		      <0x40000CC0 0x40>,
		      <0x40000D00 0x40>,
		      <0x40000D40 0x40>,
		      <0x40000D80 0x40>,
		      <0x40000DC0 0x40>,
		      <0x40000E00 0x40>,
		      <0x40000E40 0x40>,
		      <0x40000E80 0x40>,
		      <0x40000EC0 0x40>,
		      <0x40000F00 0x40>,
		      <0x40000F40 0x40>,
		      <0x40000F80 0x40>,
		      <0x40000FC0 0x40>,
		      <0x40001000 0x40>,
		      <0x40001488 0x08>;// bw rst busy
	};

	////-------------- DL RX  --------------------------

	rtx_chn_axi_rx: RTX-channel-rx@0x40000040 {
		#clock-cells = <1>;
		compatible = "rau,rtx-carrier-channel-0.1";
		//reg = <0x40000040 0x800>;//总共
		reg = <0x40000040 0x40>,
		      <0x40000080 0x40>,
		      <0x400000C0 0x40>,
		      <0x40000100 0x40>,
		      <0x40000140 0x40>,
		      <0x40000180 0x40>,
		      <0x400001C0 0x40>,
		      <0x40000200 0x40>,
		      <0x40000240 0x40>,
		      <0x40000280 0x40>,
		      <0x400002C0 0x40>,
		      <0x40000300 0x40>,
		      <0x40000340 0x40>,
		      <0x40000380 0x40>,
		      <0x400003C0 0x40>,
		      <0x40000400 0x40>,
		      <0x40000440 0x40>,
		      <0x40000480 0x40>,
		      <0x400004C0 0x40>,
		      <0x40000500 0x40>,
		      <0x40000540 0x40>,
		      <0x40000580 0x40>,
		      <0x400005C0 0x40>,
		      <0x40000600 0x40>,
		      <0x40000640 0x40>,
		      <0x40000680 0x40>,
		      <0x400006C0 0x40>,
		      <0x40000700 0x40>,
		      <0x40000740 0x40>,
		      <0x40000780 0x40>,
		      <0x400007C0 0x40>,
		      <0x40000800 0x40>,
		      <0x40001480 0x08>;// bw rst busy

		clocks = <&rf_port_axi_7 0>, <&rf_port_axi_6 0>, <&rf_port_axi_5 0>, <&rf_port_axi_4 0>,
		         <&rf_port_axi_3 0>, <&rf_port_axi_2 0>, <&rf_port_axi_1 0>, <&rf_port_axi_0 0>;
		clock-names = "dl_lo_1a","dl_lo_1b","dl_lo_2a","dl_lo_2b",
			      "dl_lo_3a","dl_lo_3b","dl_lo_4a","dl_lo_4b";


	};


	rf_port_axi_0: RF-Port-1A@0x40001040 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x40001040 0x40>,
		      <0x400014C0 0x04>; // Port_SW_Control

		clocks = <&trx0_ad9371_a 3>, <&trx0_ad9371_a 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf0_lo_tx_freq", "rf0_lo_rx_freq";

	};

	rf_port_axi_1: RF-Port-1B@0x40001080 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x40001080 0x40>,
		      <0x400014C4 0x04>; // Port_SW_Control

		clocks = <&trx0_ad9371_a 3>, <&trx0_ad9371_a 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf1_lo_tx_freq", "rf1_lo_rx_freq";
	};

	rf_port_axi_2: RF-Port-2A@0x400010C0 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x400010C0 0x40>,
		      <0x400014C8 0x04>; // Port_SW_Control

		clocks = <&trx0_ad9371_b 3>, <&trx0_ad9371_b 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf2_lo_tx_freq", "rf2_lo_rx_freq";
	};

	rf_port_axi_3: RF-Port-2B@0x40001100 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x40001100 0x40>,
		      <0x400014CC 0x04>; // Port_SW_Control

		clocks = <&trx0_ad9371_b 3>, <&trx0_ad9371_b 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf3_lo_tx_freq", "rf3_lo_rx_freq";
	};


	//-------------- port4 ~ port7 --------------------------

	rf_port_axi_4: RF-Port-3A@0x40001140 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x40001140 0x40>,
		      <0x400014D0 0x04>; // Port_SW_Control

		clocks = <&trx0_ad9371_c 3>, <&trx0_ad9371_c 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf4_lo_tx_freq", "rf4_lo_rx_freq";

	};

	rf_port_axi_5: RF-Port-3B@0x40001180 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x40001180 0x40>,
		      <0x400014D4 0x04>; // Port_SW_Control

		clocks = <&trx0_ad9371_c 3>, <&trx0_ad9371_c 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf5_lo_tx_freq", "rf5_lo_rx_freq";
	};

	rf_port_axi_6: RF-Port-4A@0x400011C0 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x400011C0 0x40>,
		      <0x400014D8 0x04>; // Port_SW_Control

		clocks = <&trx0_ad9371_d 3>, <&trx0_ad9371_d 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf6_lo_tx_freq", "rf6_lo_rx_freq";
	};

	rf_port_axi_7: RF-Port-4B@0x40001200 {
		#clock-cells = <1>;
		compatible = "rau,rf-port-0.1";
		reg = <0x40001200 0x40>,
		      <0x400014DC 0x04>; // Port_SW_Control

		clocks = <&trx0_ad9371_d 3>, <&trx0_ad9371_d 4> ;
		clock-names = "lo_rx_freq","lo_tx_freq";

		clock-output-names = "rf7_lo_tx_freq", "rf7_lo_rx_freq";
	};



};

