/dts-v1/;

/include/ "zynq-zc706.dtsi"
/include/ "zynq-zc706-adv7511.dtsi"

&fpga_axi {
};

&spi0 {
	status = "okay";
};

&spi1 {
	status = "okay";
};

#define fmc_spi_9528 spi0
#define fmc_spi_9371 spi1

#include "adi-adrv9371.dtsi"

// ad9371_dac_fifo_bypass_s 60
// ad9528_reset_b,       // 59
// ad9528_sysref_req,    // 58
// ad9371_tx1_enable,    // 57
// ad9371_tx2_enable,    // 56
// ad9371_rx1_enable,    // 55
// ad9371_rx2_enable,    // 54
// ad9371_test,          // 53
// ad9371_reset_b,       // 52
// ad9371_gpint,         // 51
// ad9371_gpio_00,       // 50
// ad9371_gpio_01,       // 49
// ad9371_gpio_02,       // 48
// ad9371_gpio_03,       // 47
// ad9371_gpio_04,       // 46
// ad9371_gpio_05,       // 45
// ad9371_gpio_06,       // 44
// ad9371_gpio_07,       // 43
// ad9371_gpio_15,       // 42
// ad9371_gpio_08,       // 41
// ad9371_gpio_09,       // 40
// ad9371_gpio_10,       // 39
// ad9371_gpio_11,       // 38
// ad9371_gpio_12,       // 37
// ad9371_gpio_14,       // 36
// ad9371_gpio_13,       // 35
// ad9371_gpio_17,       // 34
// ad9371_gpio_16,       // 33
// ad9371_gpio_18}));    // 32 + 54

&trx0_ad9371 {
	reset-gpios = <&gpio0 106 0>;
	test-gpios = <&gpio0 107 0>;
	sysref_req-gpios = <&gpio0 112 0>;
	rx2_enable-gpios = <&gpio0 108 0>;
	rx1_enable-gpios = <&gpio0 109 0>;
	tx2_enable-gpios = <&gpio0 110 0>;
	tx1_enable-gpios = <&gpio0 111 0>;
};

&clk0_ad9528 {
	reset-gpios = <&gpio0 113 0>;
};

