/include/ "zynq.dtsi"

/ {
	model = "Vavitel VKBS Zynq";
	/include/ "dt_ver.dtsi"
	memory {
		device_type = "memory";
		reg = <0x00000000 0x40000000>;
	};

	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/mmcblk0p2 rw earlyprintk rootfstype=ext4 rootwait";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};

	leds {
		compatible = "gpio-leds";
		ds6 {
			label = "ds6";
			gpios = <&gpio0 50 0>;
			linux,default-trigger = "heartbeat";
		};

	};
};

&gem0 {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";

	phy0: phy@7 {
		device_type = "ethernet-phy";
		reg = <0x7>;
	};

};

&usb0 {
	xlnx,phy-reset-gpio = <&gpio0 7 0>;
};

&qspi {
	status = "okay";
	is-dual = <1>;
	num-cs = <1>;
	primary_flash: ps7-qspi@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <4>;
		compatible = "n25q128a11";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		partition@0 {
			label = "boot";
			reg = <0x00000000 0x00500000>;
		};
		partition@500000 {
			label = "bootenv";
			reg = <0x00500000 0x00020000>;
		};
		partition@520000 {
			label = "config";
			reg = <0x00520000 0x00020000>;
		};
		partition@540000 {
			label = "image";
			reg = <0x00540000 0x00a80000>;
		};
		partition@fc0000 {
			label = "spare";
			reg = <0x00fc0000 0x00000000>;
		};
	};
};
